---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import UAppWrapper from '../components/UAppWrapper.vue';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<slot name="head" />
	</head>
	<body class="isolate">
		<UAppWrapper client:load>
			<Header />
			<slot />
			<Footer />
		</UAppWrapper>
	</body>
</html>
