---
import Head from '@rimelight/ui/components/Head.astro';
import AppHeader from '../components/AppHeader.astro';
import AppFooter from '../components/AppFooter.astro';
import { SITE_TITLE } from '../consts';
import '../styles/global.css';
import { Font } from 'astro:assets';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} description={description}>
		<slot name="head" slot="head" />
		<Font cssVariable="--font-atkinson" preload slot="head" />
		<link rel="sitemap" href="/sitemap-index.xml" slot="head" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title={SITE_TITLE}
			href={new URL('rss.xml', Astro.site)}
			slot="head"
		/>
	</Head>
	<body class="isolate">
		<AppHeader />
		<slot />
		<AppFooter />
	</body>
</html>
